<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Usuarios</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
  <style>
        .form-group {
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img src="../static/media/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      SVG
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/adminHome}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Pagina principal</a>
        </li>
      </ul>
    </div>
    <form action="#" th:action="@{/login}" th:method="post" class="d-flex">
      <input class="btn btn-danger form-control me-2" type="submit" value="Cerrar sesión"
             onclick="return confirm('¿Desea cerrar sesión?');">
    </form>
  </div>
</nav>

<div class="container mt-4">
  <h1>Lista de Usuarios</h1>

  <table id="usuariosTable" class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo Electrónico</th>
      <th>Teléfono</th>
      <th>Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
      <td th:text="${usuario.nombre}">Nombre</td>
      <td th:text="${usuario.apellido}">Apellido</td>
      <td th:text="${usuario.email}">Correo Electrónico</td>
      <td th:text="${usuario.telefono}">Teléfono</td>
      <td th:text="${usuario.rol.descripcion}">Rol</td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#usuariosTable').DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>

</body>
</html>
